// Colours
$blue:    #0000ff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

// Grayscale
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #444444;
$gray-900: #212121;
$black:    #000;

// Screen Width
$main-width-normal: 38rem ;

// Font Families
$font-family-primary: 'Lato', sans-serif;
$font-family-monospace: monospace, monospace;

// Font Sizes
$font-size-normal: 16px;
$font-size-small: 12px;
