body {
  font-family: $font-family-primary;
  font-size: $font-size-normal;
  overflow-x: hidden;
}

header,
main,
footer {
  max-width: $main-width-normal;
  margin: 0 auto;
}

header {
  padding-top: 1rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 1px $gray-300;
}

h1, h1.navbar-brand {
  font-size: 1.75rem;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 1.2rem;
}

h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

h5, h6 {
  font-size: 1rem;
}

p, em, ul, li {
  font-size: 1rem;
}

footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-top: solid 1px $gray-300;
}

footer p {
  font-size: $font-size-small;
}

.pager {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

pre {
  background-color: $gray-200 !important;
  font-family: $font-family-monospace;
  padding: 5px;
}

img {
  width: 100%;
}

.caption {
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 1.5rem;
}

.caption p {
  font-size: $font-size-small;
  font-style: italic;
}

.yearmonth {
  padding-bottom: 1rem;
}

.entry {
  padding: 0 0 1rem 0;
}

#archive {
  #table {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  #table th {
    background-color: $gray-200;
    padding-left: 0.5rem;
  }

  #table tr,
  #table td {
    border: solid 1px $gray-500;
  }

  #table td,
  #table td a {
    font-size: $font-size-small;
  }

  #table .published,
  #table .link {
    width: 20%;
  }

  #table .excerpt {
    width: 60%;
  }

  #table .published,
  #table .link,
  #table .excerpt {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}
