body {
  background-color: $gray-100;
  font-family: $font-family-primary;
  font-size: $font-size-normal;
  color: $gray-900;
  overflow-x: hidden;
}

header,
main,
footer {
  max-width: $main-width-normal;
  margin: 0 auto;
}

header {
  padding-top: 1rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 1px $gray-300;
}

h1, h1.navbar-brand {
  font-size: 1.75rem;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 1.25rem;
}

h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

h5, h6 {
  font-size: 1rem;
}

p, em, ul, li {
  font-size: 1rem;
  line-height: 1.668;
}

footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-top: solid 1px $gray-300;
}

p.footer {
  font-size: $font-size-small;
}

.pager {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

pre {
  background-color: $gray-200 !important;
  padding: 5px;
}

img {
  width: 100%;
}

.caption {
  padding: 0 0.5rem 0 0.5rem;
  margin-bottom: 1.5rem;
}

.caption p {
  font-size: $font-size-small;
  font-style: italic;
}
