body {
  background-color: $body-background-color;
  font-size: $font-size-normal;
  color: $font-color-primary ;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  padding: 0.5rem;
  overflow-x: hidden ;
}

header,
main,
footer {
  max-width: $main-width-normal;
  margin: 0 auto;
}

header {
  padding: 1rem 0 1rem 0;
  border-bottom: solid 1px $gray-500;
}

p, a, ul, li, em, table, th, tr, td, code {
  font-family: $font-family-primary;
}

p {
  line-height: 1.668;
}

p.excerpt {
  font-style: italic;
}

nav a {
  font-size: $font-size-small;
}

footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-top: solid 1px $gray-500;
}

footer p, footer a {
  font-size: $font-size-small ;
}

footer nav {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 1px $gray-500;
}

a:link {
  color: $link-color;
  text-decoration: underline;
  text-decoration-color: $text-decoration-color;
}

a:visited {
  color: $link-color;
  text-decoration-color: $text-decoration-color;
}

a:hover {
  color: $link-color-hover;
  text-decoration-color: $text-decoration-color;
}

a:active {
  color: $link-color;
  text-decoration-color: $text-decoration-color;
}

h1, h1.navbar-brand {
  // Site title
  font-family: $font-family-heading;
  font-size: 1.65rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  // Page heading
  font-family: $font-family-primary;
  padding-top: 1.4rem;
  text-transform: uppercase;
}

h2, h2 a:link {
  font-size: 1.45rem;
}

h3, h3 a:link {
  font-size: 1.20rem ;
}

h4 {
  font-size: 1.10rem ;
}

blockquote {
  width: 100%;
  margin-left: 0 /* Push block to right */ ;
  //background-color: $blockquote-background-color;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
	//padding-left: 1rem /*Gap between edge of block and text ; */;
	//border-left: 0.10rem solid $font-primary-color ;
}

blockquote p {
  //color: $blockquote-color;
  font-style: italic;
}

ul {
  list-style-type: square;
  color: $ul-color;
}

.categories {
  text-transform: capitalize;
}

.hashtags a {
  text-transform: lowercase;
}

img {
  width: 100%;
  padding: 1rem 0 2rem 0;
}

// Code Block
// (Most of the settings set by `syntax.scss`)
pre {
  padding: 0.5rem;
}

.highlight {
  //background-color: $code-background-color;
}
// End of code block

#archive {

  #table {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  #table th {
    background-color: $gray-200;
    padding-left: 0.5rem;
  }

  #table tr,
  #table td {
    border: solid 1px $gray-500;
  }

  #table td,
  #table td a {
    font-size: $font-size-small;
  }

  #table .published,
  #table .link {
    width: 20%;
  }

  #table .excerpt {
    width: 60%;
  }

  #table .published,
  #table .link,
  #table .excerpt {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

}
